

/**
 * ---------------------------------------------------------------------------
 * Defined globals variables and config styles
 * ---------------------------------------------------------------------------
 */
platonic_nonsense = #141A26;
black_navy        = #474D59;
watercolour       = #83A4C3;
almost_white      = #FAFAFA;
pineapple         = #EEA910;


body
	// font-family 'Source Sans Pro', sans-serif
	font-family 'Ubuntu', sans-serif
	font-size 16px
	margin 0
	padding 0

