

/**
 * ---------------------------------------------------------------------------
 * Defined globals variables and config styles
 * ---------------------------------------------------------------------------
 */
azulOpaco    = #2B5464;
gris         = #5C747D;
grisClaro    = #81A3B0;
celeste      = #4C94B0;
celesteClaro = #6DD5FD;


/**
 * ---------------------------------------------------------------------------
 * Keyframes
 * ---------------------------------------------------------------------------
 */
@keyframes opacity-transition
	for e in 0..10
		{10% * e}
			opacity (e/10)

/**
 * ---------------------------------------------------------------------------
 * Global class config theme
 * ---------------------------------------------------------------------------
 */
body
	font-family 'Open Sans', sans-serif
	font-size 16px
	font-weight 300
	margin 0
	padding 0
.show
	display block !important
	animation-name opacity-transition
	animation-duration 1s
*
	box-sizing border-box
	