

/**
 * ---------------------------------------------------------------------------
 * Defined globals variables and config styles
 * ---------------------------------------------------------------------------
 */
platonic_nonsense = #2b5464;
black_navy        = #474D59;
watercolour       = #5d8396;
almost_white      = #FAFAFA;
pineapple         = #f3bd24;


/**
 * ---------------------------------------------------------------------------
 * Keyframes
 * ---------------------------------------------------------------------------
 */
@keyframes opacity-transition
	for e in 0..10
		{10% * e}
			opacity (e/10)

/**
 * ---------------------------------------------------------------------------
 * Global class config theme
 * ---------------------------------------------------------------------------
 */
body
	font-family 'Open Sans', sans-serif
	font-size 16px
	font-weight 300
	margin 0
	padding 0
.show
	display block !important
	animation-name opacity-transition
	animation-duration 1s
*
	box-sizing border-box
	