
@import 'normalize.styl'
@import 'icons.styl'
@import 'globals.styl'

/**
 * ---------------------------------------------------------------------------
 * Module header home page
 * ---------------------------------------------------------------------------
 */
 .header
 	position relative
 	.icon-menu
 		color pineapple
 		font-size 3rem
 		position absolute
 		right 3rem
 		top 1.5rem
 	.icon-menu:focus + .header__nav
 		display block
 	&__section
 		background platonic_nonsense
 		padding 1.5rem
 	&__section .title
 		color pineapple
 		font-size 2rem
 		margin 0
 	&__section .legend
 		color rgba(almost_white .7)
 		margin 0
 	&__nav
 		background black_navy
 		display none
 		.menu
 			font-weight bold
 			list-style-type none
 			margin 0
 			padding 0
 		.menu__item
 			color white
 			padding 1rem 2rem
 			&:first-child
 				margin 0
 				padding-top 1rem
 			&:hover
 				background rgba(pineapple .9)
 				color black
 				transition all .5s ease
 			span
 				font-size 1rem
 				
/**
 * ---------------------------------------------------------------------------
 * Module post home page
 * ---------------------------------------------------------------------------
 */
.container__posts
	padding 1rem
	.post
		border-radius 15px
		margin-bottom 1rem
		position relative
		&__type
			background pineapple
			border-radius 50%
			color platonic_nonsense
			font-weight bold
			height 2rem
			padding 1rem
			position absolute
			right -.5rem
			top -.5rem
			text-align center
			width 2rem
			z-index 8
			span
				display block
				margin-top .4rem
			&:hover
				color white
				transition all .5s ease
		&__image
			border-radius 15px
			margin 0
			position relative
			img
				border-radius 15px
				width 100%
			.description
				background rgba(black .8)
				border-top 5px solid pineapple
				border-bottom-left-radius 15px
				border-bottom-right-radius 15px
				bottom .3rem
				color rgba(pineapple .8)
				font-size 1.5rem
				text-transform uppercase
				position absolute
				width 100%
				max-width 100%
				p
					padding-left 1rem
					padding-right 1rem
		&__content
			background rgba(watercolour .7)
			margin 0 .5rem
			margin-top -.3rem
			padding .5rem
		&__footer
			background platonic_nonsense
			border-bottom-left-radius 10px
			border-bottom-right-radius 10px
			color rgba(white .8)
			margin 0 .5rem
			padding .5rem
			span
				font-size 1.2rem
				margin-right .2rem
				


/**
 * ---------------------------------------------------------------------------
 * Module footer home page
 * ---------------------------------------------------------------------------
 */
 .footer
 	background platonic_nonsense
 	border-top 6px solid pineapple
 	color watercolour
 	height 10rem
 	padding 10px	
 	bottom 0