
@import 'normalize.styl'
@import 'icons.styl'
@import 'globals.styl'

/**
 * ---------------------------------------------------------------------------
 * Module header home page
 * ---------------------------------------------------------------------------
 */
 .header
 	position relative
 	.icon-menu
 		color pineapple
 		font-size 3rem
 		position absolute
 		right 1rem
 		top 1.5rem
 	.icon-menu:focus + .header__nav
 		display block
 	&__section
 		background platonic_nonsense
 		padding 1.5rem
 	&__section .title
 		color pineapple
 		font-size 2rem
 		margin 0
 	&__section .legend
 		color rgba(almost_white .7)
 		margin 0
 	&__nav
 		background black_navy
 		display none
 		.menu
 			font-weight bold
 			list-style-type none
 			margin 0
 			padding 0
 		.menu__item
 			color white
 			padding 1rem 2rem
 			&:first-child
 				margin 0
 				padding-top 1rem
 			&:hover
 				background rgba(pineapple .9)
 				color black
 				transition all .5s ease
 			span
 				font-size 1rem
 				
/**
 * ---------------------------------------------------------------------------
 * Module post home page
 * ---------------------------------------------------------------------------
 */
.container__posts
	padding 1rem
	.post
		border-radius 15px
		margin-bottom 1rem
		position relative
		&__type
			background pineapple
			border-radius 50%
			color platonic_nonsense
			font-weight bold
			height 2rem
			padding 1rem
			position absolute
			right -.5rem
			top -.5rem
			text-align center
			width 2rem
			z-index 8
			span
				display block
				margin-top .4rem
			&:hover
				color white
				transition all .5s ease
		&__image
			border-radius 15px
			margin 0
			position relative
			img
				border-radius 15px
				width 100%
			.description
				background rgba(black .8)
				border-top 5px solid pineapple
				border-bottom-left-radius 15px
				border-bottom-right-radius 15px
				bottom .3rem
				color rgba(pineapple .8)
				font-size 1.5rem
				text-transform uppercase
				position absolute
				width 100%
				max-width 100%
				p
					padding-left 1rem
					padding-right 1rem
		&__content
			background rgba(watercolour .7)
			margin 0 .5rem
			margin-top -.3rem
			padding .5rem
		&__footer
			background platonic_nonsense
			border-bottom-left-radius 10px
			border-bottom-right-radius 10px
			color rgba(white .8)
			margin 0 .5rem
			padding .5rem
			span
				font-size 1.2rem
				margin-right .2rem
	.post2
		position relative
		margin-bottom 2rem
		&__image
			font-size 0
			margin 0
			position relative
			img
				border-top-left-radius 20px
				border-top-right-radius 20px
				width 100%
			.type
				background pineapple
				border-radius 50%
				color platonic_nonsense
				font-weight bold
				height 3rem
				padding 1rem
				position absolute
				right .5rem
				top .5rem
				text-align center
				width 3rem
				z-index 8
				span
					display inline-block
					font-size 1.2rem
					margin-top .6rem
					margin-left -.2rem
				&:hover
					color white
					transition all .5s ease
			.info
				background rgba(black .7)
				border-top .3rem solid pineapple
				color white
				padding 2rem 1rem
				position absolute
				bottom 0
				left 0 
				right 0
				.title
					margin 0
					bottom 0
					color pineapple
					font-size 1.5rem
				.author
					color white
					font-size 1rem
					z-index 20
		&__footer
			background pineapple
			border-bottom-left-radius 15px
			border-bottom-right-radius 15px
			display block
			margin 0
			padding .5rem 1rem
			.content
				margin 0
/**
 * ---------------------------------------------------------------------------
 * Module footer home page
 * ---------------------------------------------------------------------------
 */
 .footer
 	background platonic_nonsense
 	border-top 1rem solid pineapple
 	color watercolour 	
 	bottom 0
 	&__social 		 		 		
 		margin 0
 		padding 4rem 0 0 0
 		text-align center 		 		
 		a
 			color white
 			text-decoration none 			
 		span
 			display inline-block
 			font-size 2rem
 			margin 0 .3rem 
 			&:hover 				
 				color pineapple 				
 				transform scale(1.4)
 				transition all 0.7s ease-out 				
 	&__copyright
 		color watercolour
 		padding 0.5rem 0 4rem 0
 		text-align center			