/*
*Theme Name: Fillcode
*Theme URI: http://fillcode.com
*Author URI: http://fillcode.com
*Author: David Quintanilla / Jerson Moreno
*Description: theme awesome creatives posts
*version: 1.0
*/

@import 'nib'
@import 'normalize.styl'
@import 'icons.styl'
@import 'globals.styl'


/**
 * ---------------------------------------------------------------------------
 * Module default message no found items
 * ---------------------------------------------------------------------------
 */
.no__items
	padding 2rem 0
	p
		background pineapple
		border-radius 2px
		color white
		padding 2rem 1rem

/**
 * ---------------------------------------------------------------------------
 * Module header home page
 * ---------------------------------------------------------------------------
 */
.header
	background platonic_nonsense
	color pineapple
	position relative
	.icon-menu
		font-size 3rem
		position absolute
		right 1rem
		top 1.5rem
	&__sidebar
		color pineapple
		display none
		font-size 1rem
		text-align right 
		width 50%
		.search-form
			display none
			padding 2.2rem 1rem 0 0
			position relative
			width 100%
			.screen-reader-text
				display none
			input[type=submit]
				background pineapple
				border 2px solid pineapple
				color platonic_nonsense
				padding .6rem 1rem
			input[type=search]
				border none
				color black
				height 2rem
				opacity .4
				padding .4rem
				width 50%
				&:focus
					opacity .6	
	&__logo
		padding 1.5rem
		position relative
		.title
			color pineapple
			font-size 2rem
			margin 0
		.legend
			color white
			margin 0
		.link
			display block
			height 100px
			position absolute
			top 0
			width 200px
			z-index 10
	&__nav
		background rgba(platonic_nonsense .7)
		display none
		padding-left 1rem
		.menu
			font-weight bold
			list-style-type none
			margin 0
			padding 0
		li
			color white
			padding .7rem 1rem
			&:first-child
				margin 0
				padding-top .7rem
			a
				color white
				display block
				font-weight normal
				text-decoration none
				text-transform capitalize
@media screen and (min-width: 800px)
	.header
		display flex
		font-size 0
		&__logo
			color platonic_nonsense
			font-size 1rem
			width 50%
		&__sidebar
			display flex
			.search-form
				display block
		.icon-menu
			display none
		&__nav
			background platonic_nonsense
			display block
			li
				border-top 2px solid transparent
				display inline-block
				&:hover
					border-top 2px solid pineapple
					transition all .5s ease


/**
 * ---------------------------------------------------------------------------
 * Module posts home page
 * ---------------------------------------------------------------------------
 */
.container__posts
	padding 1rem
	.post
		background white
		border-radius 5px
		border 2px solid watercolour
		position relative
		margin-bottom 2rem
		&__info
			border-bottom 1px solid gray
			color gray
			padding-left 1rem
			a
				position absolute
				top 0 
				bottom 0
				left 0
				right 0
		&__header
			background watercolour
			margin 0
			padding .6rem 1rem
			position relative
			color white
			.title
				font-size 1rem
				font-weight 400
				margin 0
			.type
				background white
				border-radius 50%
				color watercolour
				font-weight bold
				height 3rem
				padding .5rem
				position absolute
				right -.7rem
				top -.5rem
				text-align center
				width 3rem
				z-index 8
				span
					display inline-block
					font-size 1rem
					margin-top .5rem
					margin-left -.1rem
				&:hover
					background #eeeeee
					text-decoration underline
					cursor pointer
					transition all .5s ease
		&__image
			text-align center
			margin 0
			padding .5rem 0
			img
				border-radius 2rem
				height 200px
				width 80%
				max-width 100%
		&__footer
			display block
			margin 0
			padding .5rem 1rem
			p
				margin 0
@media screen and (min-width: 480px)
	.container__posts
		align-items stretch
		display flex
		flex-wrap wrap
		justify-content space-around
		.no__items
			padding 4rem
			p
				padding 1rem 4rem
		.post
			width 46%
@media screen and (min-width: 800px)
	.container__posts
		.post
			width 31%


/**
 * ---------------------------------------------------------------------------
 * Module footer home page
 * ---------------------------------------------------------------------------
 */
.footer
	background platonic_nonsense
	color watercolour
	&__social
		margin 0
		padding 4rem 0 0 0
		text-align center
		a
			color pineapple
			text-decoration none
		span
			display inline-block
			font-size 3rem
			margin 0 .3rem 
			&:hover
				color pineapple
				transform scale(1.4)
				transition all 0.7s ease-out
	&__copyright
		color pineapple
		padding 0.5rem 0 4rem 0
		text-align center
@media screen and (min-width: 480px)
	.footer
		position absolute
		width 100%
@media screen and (min-width: 800px)
	.footer
		position relative



/**
 * ---------------------------------------------------------------------------
 * Module single page
 * ---------------------------------------------------------------------------
 */
.container__single
	.container__post
		.post
			padding 0 1rem
			text-align left
			img
				width auto
				height auto
			.post__title
				color black
				font-size 2rem
				text-transform uppercase
			p
				text-align left !important
				a > img
					width auto
					height auto
			ul > li
				padding-bottom 1.2rem
		.post__comments
			padding 1rem
	.container__form
		padding 1rem
		font-size 1.2rem
		.form__title
			color black
		.form__item
			position relative
			.form-icon
				background pineapple
				bottom 0
				color white
				display block
				font-size 1.2rem
				padding-top .4rem
				position absolute
				top 0
				text-align center
				width 2rem
			input
				border 1px solid gray
				border-top-right-radius 2px
				border-bottom-right-radius 2px
				color rgba(black .8)
				padding .3rem 2.2rem
				width 100%
			textarea
				border-radius 2px
				color rgba(black .8)
				width 100%
		p > input[type=submit]
			background pineapple
			border none
			color white
			font-weight normal
			padding .5rem 1rem
	.container__sidebars
			display none
			margin 1rem 0
			width 25%
			.aside__info
				border-left 1px solid gray
				color white
				font-size 1rem
				padding 2rem .5rem
				width 100%
				position relative
				.title
					background watercolour
					font-size 1rem
					font-weight normal
					margin 0
					padding 1rem .5rem
				ul
					border 1px solid watercolour
					color watercolour
					list-style-type square
					margin 0
					margin-bottom 1rem
					padding 1rem 2rem
					position relative
					a
						text-decoration none
						color black
						font-size 1rem
					a:hover
						text-decoration underline
					li:last-child
						margin-bottom 2rem
@media screen and (min-width: 800px)
	.container__single
		display flex
		.container__post
			width 75%
			.post
				font-size 1.2rem
				width 90%
			.post__comments
				width 95%
		.container__sidebars
			display flex
		.container__form
			padding-left 2rem
			width 75%
			.form__item input, .form__item textarea 
				width 80%
